@import (inline) "../../node_modules/photoswipe/dist/photoswipe.css";
@import (inline) "../../node_modules/photoswipe/dist/default-skin/default-skin.css";
@import "views/polaroid.less";

body {
	position: relative;
}

img {
  height: 100px;
  width: 100px;
}

#home {
  height: 100%;
  width: 100%;
}

#drawer {
  border: 1px dashed #F00;
  height: 100%;
  width: 45%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#logo {
  width: 100px;
  position: absolute;
  right: 25%;
  top: 25%;
}

#polaroid {
	width: 400px;
  height: 300px;
	position: absolute;
	left: 12%;
	top: 21%;
}
