@import (inline) "../../node_modules/photoswipe/dist/photoswipe.css";
@import (inline) "../../node_modules/photoswipe/dist/default-skin/default-skin.css";
@import (inline) "fonts.css";
@import "views/polaroid.less";
@import "views/logo.less";
@import "views/menu.less";

body {
	position: relative;
}

#home {
  height: 100%;
  width: 100%;
}

#drawer {
  height: 100%;
  width: 45%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#logo {
  width: 480px;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 12%;
  text-align: center;
}

#polaroid {
  z-index: 99;
  width: 400px;
  height: 300px;
	position: absolute;
	left: 50%;
  margin-left: -440px;
	top: 21%;
}

@media screen and (max-width: @landscape-large) {
    body {
      overflow-y: visible;
    }
    #logo {
      margin-left: -80px;
    }
    #polaroid {
      width: 320px;
      height: 220px;
      margin-left: -350px;
    }
}

@media screen and (max-width: @landscape-tablet) {
  #logo {
    margin-left: -240px;
    top: 42px;
  }
  #polaroid {
      top: 260px;
      margin-left: -130px;
  }
}

@media screen and (max-width: @landscape-phone) {
  #logo {
    width: 300px;
    margin-left: -150px;
  }
  #polaroid {
    width: 260px;
  }
}
