#drawer {
	width: 55%;
}

#drawer-header {
	height: 24px;
	color: white;
	padding: 12px 10px 8px 10px;
    position: relative;
    z-index: 2;
}

#drawer-scroller {
	height: 100%;
    overflow: scroll;
    top: -44px;
    position: relative;
}

#drawer-content {
	padding-top: 44px;
}

#drawer-bar {
	position: absolute;
	width: 100%;
	height: 44px;
	background: @blue;
	box-shadow: 0px 2px 4px rgba(0,0,0,.3);
	z-index: 1;
	left: -1px;
}

#nav-button {
    font-size: 14px;
    text-transform: uppercase;
    float: left;
    cursor: pointer;

    .material-icons {
        vertical-align: middle;
	    position: relative;
	    top: -1px;
	    left: -4px;
    }
}

#drawer-title {
	text-transform: uppercase;
    width: 200px;
    margin: auto;
    text-align: center;
}

.card {
	margin: 10px;
    padding: 64px 14px 14px;
    background: #FFF;
    border-radius: 4px;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    box-shadow: 1px 1px 6px #BBB;
    position: relative;
    overflow-x: hidden;
    font-size: 14px;

    input {
        font-family: armata;
        border: 0;
        width: 100%;

        &:focus {
        	outline: none;
        }
    }

    &.no-title {
    	padding-top: 14px;
    }

    & > .title {
		position: absolute;
	    left: 0;
	    border-top-right-radius: 4px;
	    border-top-left-radius: 4px;
	    top: 0;
	    width: 100%;
	    /* background: #D8E0EC; */
	    padding: 14px;
	    border-bottom: 1px solid #CCC;
	    font-size: 17px;

	    .name-label {
	        position: absolute;
		    top: 16px;
		    left: 14px;
		    z-index: 0;
		    opacity: 0.4;
		    cursor: text;
		    width: 100%;
	    }
	}

	.card-title {
		display: inline-block;
	    margin: 0;
	    color: @blue;
    	font-size: 18px;
	}

	.label {
		display: inline-block;
		width: 80px;
	}

	.hide {
		display: none;
	}
}

.lb-container {
	padding: 0;
}

.lb-data .lb-close {
	display: none;
}

.lb-nav a {
	&.lb-next,
	&.lb-prev {
		width: 0;
	}
}

.acc {
	.button {
	    text-decoration: none;
	    box-shadow: none;
	    float: right;
	    display: inline;
	    width: auto;
	    margin: 9px;
	    margin-left: 0;
	    padding: 8px;
	    border: 1px solid #CCC;
	    min-width: 0;

	    &.bottom {
	    	display: none;
	    	margin: 6px 0 0 6px;
	    }

	    &.hide {
	    	display: none;
	    }
	}
	.card>.title {
		padding: 0;
	}
	.card-title {
	    margin: 16px 10px;
	}
}

@media screen and (max-width: @landscape-tablet) {
    #drawer {
    	width: 100%;
    }
}

@media screen and (max-width: @landscape-phone) {
    .acc {
    	.card {
    		font-size: 12px;
    	}
		.button {
			&.bottom {
				display: inline;
			}
			&.top {
				display: none;
			}
		}
	}
}