.photo-stack {
	height: 300px;
    width: 300px;
    border: 10px solid #fff;
    outline: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: #ccc;
    position: absolute;
    top: 0;

    &.photo1 {
        transform: rotateZ(9deg);
        left: 40px;
    }
    &.photo2 {
        transform: rotateZ(-1deg);
        left: 20px;
    }
    &.photo3 {
        transform: rotateZ(-8deg);
        left: 0px;
    }
}